<ion-card>
  <ion-card-header>
    <ion-card-title>Investigación de cáncer</ion-card-title>
    <ion-card-subtitle>Sant Cugat del Vallès (Barcelona), 9 de mayo de 2017</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content class="article-content">
    <div class="text-content">
      <p>
        Boehringer Ingelheim ha ampliado su colaboración con la Universidad de Vanderbilt en Nashville 
        (Estados Unidos) para desarrollar nuevas terapias que aborden algunos de los cánceres más difíciles 
        de tratar, entre los que se encuentran el cáncer de pulmón, colorrectal y de páncreas. 
        Concretamente, el acuerdo se centra en el desarrollo de moléculas pequeñas dirigidas un tipo de 
        proteína (SOS: Son Of Sevenless) que activa un gen (KRAS) que es uno de los principales 
        iniciadores de estos tipos de cáncer de difícil tratamiento.
      </p>
    </div>
    <div class="image-content">
      <img [src]=research />
    </div>
  </ion-card-content>
</ion-card>