<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col>
          <img class='ion-img' [src]=logo />
        </ion-col>
        <ion-col>
          <ion-title>
            <h2 class='main-title'>Boehringer Ingelheim</h2>
          </ion-title>
        </ion-col>
        <ion-col class='ion-col-read-icon'>          
          <img class='ion-img' [src]=readIcon />
          <div class='read-later'>{{unreadCount}}</div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-home-banner></app-home-banner>
  <app-home-content></app-home-content>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size='11' justify-content-center>
          &copy; All right reserved
        </ion-col>
        <ion-col size='1'>
          <ion-icon name='arrow-round-up'></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
